# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MicrophoneListener.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\alternet\projects\projects\MicrophoneListener\.idea\.idea.MicrophoneListener\.idea/dataSources/
/dataSources.local.xml
